.main{
    color:#99f;
    .title{
        font-size:100px;
        color:#009;
        text-align: center;
      
    }
}
#root{
    color: #faf;
    font-size:45px;
    text-align: center;

}
button{

    color: #9f9f;
    font-size:28px;
    padding: 10px;
    margin: 20px;
    
}
.bysend{
    color:red;
}
label{
    line-height: 50px;

}
