input {
    margin: 3px;

}
.container {
    width: 800px;
    display: flex;
    background-color: beige;
    /* border: 10px solid red; */
}

.contentRight {

    width: 40%;
    display: flex;
    flex-direction: column;
    /* border: 10px solid blue; */
    margin: 40px 0 0;
    justify-content:flex-end;
    align-items:flex-start
}

.contentLeft {
    /* border: 5px solid blue; */
    width: 60%;
}

#ans {
    width: 450px;
    height: 30px;
    line-height: 50px;
    margin: 100px auto 5px;
    font-size: 30px;
}

table {
    border-collapse: collapse;
}

td {
    width: 150px;
    line-height: 50px;

}
.contentRight>.btn {
   width: 100px;
}
.btn ,.btn_click{
    width: 150px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 10px;
}